.clipboard-container {
  position: relative;
  display: inline-block;
}

.clipboard-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  z-index: 1;
}

.clipboard-container code {
  position: relative;
  z-index: 0;
}